
<nav class="nav justify-content-end navbar navbar-dark bg-dark">
    <a class="nav-link active"  href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>
  
  <ul>
    <li><a href="#contact">Home</a></li>
    <li><a routerLink="registro">Registro de Personas</a></li>
    <li><a href="#news">Consulta de personas</a></li>
     <li><a href="#about">About</a></li>
  </ul>
